@import url("../../root.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile__img{
    border-radius: 100%;
}

.profile-light{
    color: var(--White);
}

.profile-dark{
    color: var(--Black);
}

.div-profile{
    font-family: 'Nunito', sans-serif;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
}

.paragraph-light{
    color: var(--Dark6);
}

.paragraph-dark{
    color: var(--Dark5);
}