@import url("../../root.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aside-left__profile{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.actived{
    color:var(--PrimaryBlue);
}

.profile__img{
    border-radius: 100%;
}

.content__name{
    font-size: 1rem;
    font-weight: 700;
    color: var(--Black);
}

.content__nick{
    font-weight: 500;
    font-size: 1rem;
    color: var(--Dark5);
}