@import url("../../root.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aside-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

.aside-left__itemList{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    
}

.itemList__figure{
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 47%;
}

.List__figure{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 40px;
    margin: 0;
}

.list__img{
    width: 30px;
}

.aside-left__ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 70%;
    width: 50%;
}

.aside-left__List{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60px;
    gap: 10px;
    cursor: pointer;
}

.aside-left__List--home:hover .List__content{
    color:var(--PrimaryBlue);
}
.aside-left__List--explore:hover .List__content{
    color:var(--PrimaryBlue);
}
.aside-left__List--notifications:hover .List__content{
    color:var(--PrimaryBlue);
}
.aside-left__List--message:hover .List__content{
    color:var(--PrimaryBlue);
}
.aside-left__List--bookmarks:hover .List__content{
    color:var(--PrimaryBlue);
}
.aside-left__List--lists:hover .List__content{
    color:var(--PrimaryBlue);
}
.aside-left__List--profile:hover .List__content{
    color:var(--PrimaryBlue);
}
.aside-left__List--more:hover .List__content{
    color:var(--PrimaryBlue);
}
.List__content{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 1.188rem;
}

.list__content--light{
    color: var(--Black);
}
.list__content--dark{
    color: var(--White);
}


.aside-left__profile{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}

.actived{
    color:var(--PrimaryBlue);
}

.profile__img{
    border-radius: 100%;
}

.content__name{
    font-size: 1rem;
    font-weight: 700;
}

.content__name--light{
    color: var(--Black);
}
.content__name--dark{
    color: var(--White);
}


.content__nick{
    font-weight: 500;
    font-size: 1rem;   
}

.content__nick--light{
    color: var(--Dark5);
}

.content__nick--dark{
    color: var(--Dark6);
}


.storybook-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
  }
  .storybook-button--primary {
    color: var(--White);
    background-color: var(--PrimaryBlue);
  }
  .storybook-button--secondary {
    color:var(--PrimaryBlue);
    background-color: transparent;
    height: 30px;
    width: 228px;
    padding: 15px, 93px, 15px, 93px;
    border: 1px solid var(--PrimaryBlue);
    font-size: 0.938rem;
    font-weight: 700;
  }
  .storybook-button--small {
    width: 228px;
    height: 30px;
    padding: 15px, 93px, 15px, 93px;
    border: solid 1px var(--PrimaryBlue);
    font-weight: 700;
    font-size: 0.938rem;
  }
  .storybook-button--medium {
    width: 228px;
    height: 39px;
    padding: 15px, 93px, 15px, 93px;
    font-size: 0.938rem;
    outline:none;
  }
  .storybook-button--large {
    width: 228px;
    height: 49px;
    padding: 15px, 93px, 15px, 93px;
    font-size: 0.938rem;
    outline:none;
}