:root {
  --Black: #0f1419;
  --Dark1: #17202a;
  --Dark2: #1c2733;
  --Dark3: #283340;
  --Dark4: #3a444c;
  --Dark5: #5b7083;
  --Dark6: #8899a6;
  --Dark7: #ebeef0;
  --Dark8: #f7f9fa;
  --PrimaryBlue: #1da1f2;
  --White: #ffffff;
}
